/reactappHello-World/hello-world
reacttictacgame/node_modules/core-js/modules/es.object.lookup-getter.js
/reacttictacgame/node_modules/core-js/modules
/reacttictacgame/node_modules/core-js/modules
/reacttictacgame/node_modules/core-js
*.js
/reacttictacgame/node_modules/core-js
*.js
*.js
*.js
*.js
/reacttictacgame
